/* ===== RESET ===== */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

/* ===== ABOUT TITLE SECTION ===== */
.about-section {
 height: 50vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 color: #162e72;
 font-family: 'Mulish', sans-serif;
}

.about-section h1 {
 font-family: playfair display, sans-serif;
 font-size: 3.5rem;
 font-weight: 400;
 letter-spacing: 5px;
 text-align: center;
}

/* ===== QUOTE SECTION ===== */
.quote-section {
 background-color: #f5f5f5;
 width: 100%;
 text-align: center;
 padding: 100px 20px;
 position: relative;
 margin-top: 50px;
 margin-bottom: 180px;
 line-height: 1.7;
 font-family: 'Mulish', sans-serif;
 color: #333;
}

.quote-section::before,
.quote-section::after {
 content: "";
 position: absolute;
 left: 50%;
 width: 1px;
 height: 120px;
 background-color: rgba(0, 0, 0, 0.2);
 transform: translateX(-50%);
}

.quote-section::before {
 top: -40px;
}

.quote-section::after {
 bottom: -45px;
}

.quote-text {
 font-size: 1.1rem;
 line-height: 1.8;
 font-style: italic;
 margin-bottom: 25px;
 margin-left: 130px;
 margin-right: 130px;
}

.author {
 font-family: 'Mulish', sans-serif;
 font-size: 1.3rem;
 font-weight: bold;
 letter-spacing: 0px;
 color: #333;
 margin-bottom: 8px;
}

/* ===== EXTRA SECTION (Curiosa style) ===== */
.section {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 60px;
 margin-bottom: 160px;
 padding: 0 10%;
 font-family: 'Mulish', sans-serif;
 color: #333;
 line-height: 1.7;
 background-color: #fff;
}

.section.reverse {
 flex-direction: row;
}

.image {
 flex: 1;
}

.image img {
 width: 100%;
 border-radius: 0px;
 object-fit: cover;
}

.text {
 flex: 1;
 max-width: 500px;
}

.text h2 {
 font-size: 15px;
 letter-spacing: 2px;
 font-weight: 500;
 color: #162e72;
 margin-bottom: 20px;
}

.text p {
 font-size: 14px;
 color: #333;
 text-align: justify;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
 .quote-text {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1rem;
 }

 .section {
  flex-direction: column;
  text-align: center;
 }

 .text {
  max-width: 100%;
 }
}
